<!-- ---child one--- -->
<header>
    <h2>Clipboard for iOS and Mac OS</h2>
</header>
<!-- ---child two--- -->
<div>
    <p>
        Available for free on the App Store. Download for Mac or iOS, sync with iCloud and
        you're ready to start adding to your clipboard.
    </p>
</div>
<!-- ---child three--- -->
<div class="btn--action">
    <div class="btn__container">
        <div class="btn__general">
            <button class="btn btn--primary" type="submit">Download for iOS</button>
        </div>
    </div>
    <div class="btn__container">
        <div class="btn__general">
            <button class="btn btn--secondary" type="submit">Download for Mac</button>
        </div> 
    </div>
</div>