<!-- Child one -->
<div class="block-1">
    <!-- Block-1 header -->
    <header class="header">
        <h2>Keep track of your snippets</h2>
        <p>
            Clipboard instantly stores any item you copy in the cloud, meaning you can access
            your snippets immediately on all your devices. Our Mac and iOS apps will help you 
            organize everything.
        </p>
    </header>
    <!-- Block-1 gallery -->
    <div class="gallery__container">
        <img class="image image--computer" src="images/image-computer.png" alt="">
    </div>
    <!-- ---Block-1 gallery-info--- -->
    <div class="gallery__info">
        <div>
            <h3>Quick Search</h3>
            <p>Easily search your snippets by content, category, web address, application, and more.</p>
        </div>
        <div>
            <h3>iCloud Sync</h3>
            <p>Instantly saves and syncs snippets accross all your devices.</p>
        </div>
        <div>
            <h3>Complete History</h3>
            <p>Retrieve any snippets from the first moment you started using the app.</p>
        </div>
    </div>
</div>
<!-- Child two -->
<div class="block-2">
    <div>
        <h2>Access Clipboard Anywhere</h2>
        <p class="paragraph">Whether you're on the go, or at your computer, you can access all your
            Clipboard snippets in a few simple clicks.
        </p>
    </div>
    <div class="gallery__container">
        <img class="image devices" src="images/image-devices.png" alt="">
    </div>
</div>