<!-- Section-1 child-1 -->
<div class="logo__container">
    <img class="logo" src="images/logo.svg" alt="">
</div>
<!-- Child-2 -->
<header class="header__container">
    <h1>A history of everything you copy</h1>
    <p class="header__content">
        Clipboard allows you to track and organize everything you copy.
        Instantly access your clipboard on all devices.
    </p>
</header>
<!-- Child-3 -->
<div class="btn__container">
    <div class="btn__general">
        <button class="btn btn--primary" type="submit">Download for iOS</button>
    </div>
    <div class="btn__general">
        <button class="btn btn--secondary" type="submit">Download for Mac</button>
    </div>
</div>