<!-- ---CHILD ONE--- -->
<div class="tool__header">
    <h2>Superchange your workflow</h2>
    <p>We've got the tools to boost your productivity</p>
</div>
<!-- ----CHILD TWO---- -->
<div class="tool-container__info">
    <div class="tool__info">
        <div class="tool__image">
            <img src="/images/icon-blacklist.svg" alt="">
        </div>
        <div>
            <h3>Create blacklists</h3>
        </div>
        <div>
            <p>Ensure sensitive information never makes its way to your clipboard
                by excluuding certain sources.
            </p>
        </div>
    </div>
    <div class="tool__info">
        <div class="tool__image">
            <img src="/images/icon-text.svg" alt="">
        </div>
        <div>
            <h3>Plain text snippets</h3>
        </div>
        <div>
            <p>Remove unwanted formatting from copied text for a consistent look.</p>
        </div>
    </div>
    <div class="tool__info">
        <div class="tool__image">
            <img src="/images/icon-preview.svg" alt="">
        </div>
        <div>
            <h3>Sneak preview</h3>
        </div>
        <div>
            <p>Quick preview of all snippets on your Clipboard for easy access.
            </p>
        </div>
    </div>
</div>
<!-- ----CHILD THREE---- -->
<div class="brands">
    <div class="brand__logo">
        <img src="/images/logo-google.png" alt="">
    </div>
    <div class="brand__logo">
        <img src="/images/logo-ibm.png" alt="">
    </div>
    <div  class="brand__logo">
        <img src="/images/logo-microsoft.png" alt="">
    </div>
    <div  class="brand__logo">
        <img src="/images/logo-hp.png" alt="">
    </div>
    <div  class="brand__logo">
        <img src="/images/logo-vector-graphics.png" alt="">
    </div>
</div>

